annotated-types
asgiref
blinker
certifi
charset-normalizer
click
Flask
Flask-SQLAlchemy
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
pydantic
pydantic_core
requests
SQLAlchemy
typing_extensions
Werkzeug
